.home .el-carousel.el-carousel--horizontal.el-carousel--card {
    width: 300px;
}

body {
    position: relative;
}

#app {
    background-image: url(./img/空间.jpg);
    background-size: 100% 100%;
}

.Login-Page {
    position: absolute;
    right: 150px;
    bottom: 250px;
    background: rgb(10, 10, 10, 0.2);
}


/* 登录页表单输入样式 */

.Login-Page .el-input__inner {
    width: 83% !important;
}

.Login-Page .el-form-item__label {
    color: #ffffff;
}